
  <app-hello></app-hello>

  <app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>

  <button #toggleButton (click)="toggleComp.toggle()">Toggle me</button>
  <br/>
  <br/>
  <br/>
  <div class="card">
      <div class="card-header">
          You have selected <ng-containter [ngTemplateOutlet]="counterTmpl"></ng-containter>.
      </div>
      <div class="card-body">
          There are <ng-containter [ngTemplateOutlet]="counterTmpl"></ng-containter> was selected.
      </div>
      <div class="card-footer">
          You have selected <ng-containter [ngTemplateOutlet]="counterTmpl"></ng-containter>.
      </div>
  </div>

<ng-template #counterTmpl>
  <span class="badge badge-danger">{{ counter }}</span> items
</ng-template>
<br/>
<br/>
<br/>

<tab-group [(activeIndex)]="currentIndex">
  <tab-panel title="First Tab">First tab content</tab-panel>
  <tab-panel title="Second Tab">Second tab content</tab-panel>
  <tab-panel title="Third Tab">Third tab content</tab-panel>
  <tab-panel title="Fourth Tab">Fourth tab content</tab-panel>
</tab-group>
